.footer-logo {
    pointer-events: none;
    background-image: url("https://colombia.payu.com/wp-content/uploads/sites/5/2020/05/PAYU_LOGO_LIME.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 50%;
    min-height: 100%;
}

.footer-text {
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
}
  
.footer {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(97, 96, 96);
    position:absolute;
    bottom:0;
    width:100%;
    height:15%;
}
